body {
    margin: 0;
    border: 5vh solid #ffe78f;
}

/* ...........................................main-container */
.main-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 90vh;
}

.content {
    display: grid;
    grid-template-rows: 8fr 1fr;
}

.content-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}